<%- partial('_partial/head') %>
<body class="home-template no-js">
    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>
    <%- partial('_partial/side-panel', {}) %>
    <div class="content-wrapper">
        <div class="content-wrapper__inner">
		<%- body %>
        <%- partial('_partial/footer', {}) %>
        </div>
    </div>
	<%- js("http://okf337562.bkt.clouddn.com/jquery.min.js") %>
	<%- js("http://okf337562.bkt.clouddn.com/main.js") %>
	<%- js("http://okf337562.bkt.clouddn.com/highlight.min.js") %>
	<script>hljs.initHighlightingOnLoad();</script>
    <%- partial('_partial/google_analytics') %>
</body>
</html>
<script type="text/javascript">

function isPC() {
	var userAgentInfo = navigator.userAgent;
	console.log(userAgentInfo)
	var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
	var flag = true;
	for (var v = 0; v < Agents.length; v++) {
		if (userAgentInfo.indexOf(Agents[v]) > 0) {
			flag = false;
			break;
		}
	}
	return flag;
}
/*if (!isPC()) {
	document.title = "";
}*/
</script>
